doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js" )
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
    
  body
    block content
  
   
